
<div class="container">
  <div class="form-container add-contact-container">
    <form>
      <h1>New Contact</h1>
      <input type="name" placeholder="Name" />
      <input type="phone" placeholder="Phone" />
      <button>Add Contact</button>
    </form>
  </div>
  <div class="list-container">
      <h2>List Of All Contacts</h2>
    <div *ngFor="let contact of contacts" class="contact-list">
        <p class="contact-name">{{contact?.name}}</p>
        <p class="contact-phone">{{contact?.phone}}</p>
    </div>
  </div>
</div>


